   
{% load static %}
{% block content %} 
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
        
</head>
<body>
    
   <header>
       <video autoplay loop class="video-background" muted play-inline>
        <source src="{% static '/images/_School11_preview.mp4' %}" type="video/mp4">
       </video>
    <div class="msg">
        <a href="{% url 'inscri'  %}" class="btn btn1" >Inscription</a><br><br><br>
        <a href="{% url 'authen'  %}" class="btn btn2" >Connexion</a>
    </div>
   </header>
</body>
</html>

{% endblock %}