<!DOCTYPE html>

{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>SMS - Django</title>
    <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"
></script>
    <style type="text/css">
      body {
        color: #aa082e;
        background-color: #b6bde7;
        font-family: "Roboto", sans-serif;
      }

      a:link {
        text-decoration: none;
      }

      .note {
        text-align: center;
        height: 80px;
        background: -webkit-linear-gradient(left, #343a40, #607d8b);
        color: #fff;
        font-weight: bold;
        line-height: 80px;
      }

      .form-content {
        padding: 5%;
        border: 1px solid #ced4da;
        margin-bottom: 2%;
      }

      .form-control {
        border-radius: 1.5rem;
      }

      .btnSubmit {
        border: none;
        border-radius: 1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #4caf50;
        color: #fff;
      }
    </style>
  </head>

  <body>
    {% include "InscriptionEtudiant/navbar.html" %}
    <br />
    <br />
    <br />
    <br />

    <!--- signup page for teacher by admin(sumit)  ---------->
    <form method="post">
      {% csrf_token %}
      <div class="container register-form">
        <div class="form">
          <div class="note">
            <p>New Admission To School</p>
          </div>

          <div class="form-content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {% render_field form.form1.first_name class="form-control" placeholder="First Name" %}
                </div>
                <div class="form-group">
                  {% render_field form.form1.username class="form-control" placeholder="Username" id="username" %}
                </div>
                <div class="form-group">
                  {% render_field form.form2.matiere class="form-control" placeholder="Choose material" %}
                </div>
                <div class="form-group">
                  {% render_field form.form2.mobile class="form-control" placeholder="Phone number" %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {% render_field form.form1.last_name class="form-control" placeholder="Last Name" %}
                </div>
                <div class="form-group">
                  {% render_field form.form1.password class="form-control" type="password" placeholder="Password" %}
                </div>
                <div class="form-group">
                  {% render_field form.form1.email class="form-control" placeholder="Email" %}
                </div>
                <div class="form-group">
                  {% render_field form.form2.age class="form-control" placeholder="Age" %}
                </div>
              </div>
            </div>
            <script>
              function timer(){
                seconds_elem = document.getElementById("seconds")
                let seconds = 6
                my_timer = setInterval(() => {
                  if (seconds === 1){
                    clearInterval(my_timer)
                    document.getElementById("my_stream").setAttribute("src","")
                  }
                  seconds_elem.innerHTML = seconds--;
                },1000)

              }
              function toggleStream(){
                let stream_url = "{% url 'video_cap'  %}"
                
                
                camStream = document.getElementById("my_stream")
                current_url = camStream.getAttribute('src')
                if (current_url === ""){
                  let _username = document.getElementById('username').value
                  document.cookie = `username=${_username}`;
                  camStream.setAttribute('src',stream_url)
                  timer()
                }
                else{
                  camStream.setAttribute('src',"")
                }
              }
            
            
            </script>
            <div id="container">
              <div>
                <button class="button button2" id="startCam" onclick="toggleStream()">
                  Start Camera 
                </button>
                <span id="seconds">6</span>
                <button class="button button2" id="capture">Shoot</button>
              </div>
              <img src="" id="my_stream" />
            </div>
            
          </div>
          <button type="submit" class="btnSubmit">Take Admission</button>
          <div class="text-center">
            Already have an account? <a href="studentlogin">Login here</a>
          </div>
        </div>
      </div>
    </form>

    {% include "InscriptionEtudiant/footer.html" %}
  </body>
</html>


<!-- 
<script>

  $("#capture").click(function (e) {
    e.preventDefault()
    let _username = document.getElementById('username').value

    $.ajax({
      dataType: 'json',
      type: "GET",
      url: "{% url 'video_cap' %}",
      data: {
        'csrfmiddlewaretoken': "{{ csrf_token }}" ,
         'name': _username,
         'shoot':'just_do_it'
      },
      success : function(response){
        console.log("was sent")
      }
      
    });
  });
</script> -->